- hosts: localhost
  gather_facts: false
  become: yes
  tasks:
    - name: Get hosts
      set_fact:
        all_hosts: "{{groups['all']}}"
    - name: test
      debug:
        msg: "{{all_hosts}}"

    - name: Create known_hosts
      ansible.builtin.shell: "ssh-keyscan -H {{ item }} >> /root/.ssh/known_hosts"
      loop: "{{all_hosts}}"
      when: item != 'ansible'
